openapi: 3.0.0
info:
  title: Ethereum JSON-RPC API
  version: 1.0.0
  description: |
    Standard Ethereum JSON-RPC API methods for interacting with the Ethereum blockchain.
    These methods allow developers to query blockchain data, send transactions, and interact with smart contracts.
servers:
- url: https://rpc.stavanger.gateway.fm
paths:
  /eth_blockNumber:
    post:
      tags:
      - Chain State
      summary: eth_blockNumber
      operationId: eth_blockNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the number of the most recent block
          content:
            application/json:
              schema:
                type: object
  /eth_call:
    post:
      tags:
      - State Queries
      summary: eth_call
      operationId: eth_call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Executes a new message call immediately without creating a transaction on the blockchain
          content:
            application/json:
              schema:
                type: object
  /eth_chainId:
    post:
      tags:
      - Chain State
      summary: eth_chainId
      operationId: eth_chainId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the chain ID used for signing replay-protected transactions
          content:
            application/json:
              schema:
                type: object
  /eth_estimateGas:
    post:
      tags:
      - Transactions
      summary: eth_estimateGas
      operationId: eth_estimateGas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns an estimation of gas needed for a given transaction
          content:
            application/json:
              schema:
                type: object
  /eth_gasPrice:
    post:
      tags:
      - Transactions
      summary: eth_gasPrice
      operationId: eth_gasPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the current gas price in wei
          content:
            application/json:
              schema:
                type: object
  /eth_getBalance:
    post:
      tags:
      - State Queries
      summary: eth_getBalance
      operationId: eth_getBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the balance of the account at the specified address
          content:
            application/json:
              schema:
                type: object
  /eth_getBlockByHash:
    post:
      tags:
      - Block Information
      summary: eth_getBlockByHash
      operationId: eth_getBlockByHash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns information about a block by its hash
          content:
            application/json:
              schema:
                type: object
  /eth_getBlockTransactionCountByHash:
    post:
      tags:
      - Block Information
      summary: eth_getBlockTransactionCountByHash
      operationId: eth_getBlockTransactionCountByHash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the number of transactions in a block matching the given block hash
          content:
            application/json:
              schema:
                type: object
  /eth_getBlockTransactionCountByNumber:
    post:
      tags:
      - Block Information
      summary: eth_getBlockTransactionCountByNumber
      operationId: eth_getBlockTransactionCountByNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the number of transactions in a block matching the given block number
          content:
            application/json:
              schema:
                type: object
  /eth_getCode:
    post:
      tags:
      - State Queries
      summary: eth_getCode
      operationId: eth_getCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the compiled smart contract code at the specified address
          content:
            application/json:
              schema:
                type: object
  /eth_getFilterChanges:
    post:
      tags:
      - Filters
      summary: eth_getFilterChanges
      operationId: eth_getFilterChanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns an array of logs which occurred since the last poll
          content:
            application/json:
              schema:
                type: object
  /eth_getLogs:
    post:
      tags:
      - Filters
      summary: eth_getLogs
      operationId: eth_getLogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns an array of logs matching the given filter object
          content:
            application/json:
              schema:
                type: object
  /eth_getStorageAt:
    post:
      tags:
      - State Queries
      summary: eth_getStorageAt
      operationId: eth_getStorageAt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the value from a storage position at a given address
          content:
            application/json:
              schema:
                type: object
  /eth_getTransactionByBlockHashAndIndex:
    post:
      tags:
      - Transaction Information
      summary: eth_getTransactionByBlockHashAndIndex
      operationId: eth_getTransactionByBlockHashAndIndex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns information about a transaction by block hash and transaction index position
          content:
            application/json:
              schema:
                type: object
  /eth_getTransactionByBlockNumberAndIndex:
    post:
      tags:
      - Transaction Information
      summary: eth_getTransactionByBlockNumberAndIndex
      operationId: eth_getTransactionByBlockNumberAndIndex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns information about a transaction by block number and transaction index position
          content:
            application/json:
              schema:
                type: object
  /eth_getTransactionByHash:
    post:
      tags:
      - Transaction Information
      summary: eth_getTransactionByHash
      operationId: eth_getTransactionByHash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns information about a transaction by transaction hash
          content:
            application/json:
              schema:
                type: object
  /eth_getTransactionCount:
    post:
      tags:
      - State Queries
      summary: eth_getTransactionCount
      operationId: eth_getTransactionCount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the number of transactions sent from an address (nonce)
          content:
            application/json:
              schema:
                type: object
  /eth_getTransactionReceipt:
    post:
      tags:
      - Transaction Information
      summary: eth_getTransactionReceipt
      operationId: eth_getTransactionReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the receipt of a transaction by transaction hash
          content:
            application/json:
              schema:
                type: object
  /eth_newBlockFilter:
    post:
      tags:
      - Filters
      summary: eth_newBlockFilter
      operationId: eth_newBlockFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Creates a filter in the node to notify when a new block arrives
          content:
            application/json:
              schema:
                type: object
  /eth_newFilter:
    post:
      tags:
      - Filters
      summary: eth_newFilter
      operationId: eth_newFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Creates a filter object based on filter options to notify when state changes
          content:
            application/json:
              schema:
                type: object
  /eth_newPendingTransactionFilter:
    post:
      tags:
      - Filters
      summary: eth_newPendingTransactionFilter
      operationId: eth_newPendingTransactionFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Creates a filter to notify when new pending transactions arrive
          content:
            application/json:
              schema:
                type: object
  /eth_sendRawTransaction:
    post:
      tags:
      - Transactions
      summary: eth_sendRawTransaction
      operationId: eth_sendRawTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Submits a pre-signed transaction for broadcast to the Ethereum network
          content:
            application/json:
              schema:
                type: object
  /eth_syncing:
    post:
      tags:
      - Chain State
      summary: eth_syncing
      operationId: eth_syncing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns an object with data about the sync status or false
          content:
            application/json:
              schema:
                type: object
  /eth_uninstallFilter:
    post:
      tags:
      - Filters
      summary: eth_uninstallFilter
      operationId: eth_uninstallFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Uninstalls a filter with the given ID
          content:
            application/json:
              schema:
                type: object
  /web3_clientVersion:
    post:
      tags:
      - Web3
      summary: web3_clientVersion
      operationId: web3_clientVersion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Returns the current client version of the node
          content:
            application/json:
              schema:
                type: object
tags:
- name: Chain State
  description: Methods related to the blockchain state and network information
- name: State Queries
  description: Methods for querying the state of accounts and contracts
- name: Block Information
  description: Methods for retrieving block data and block-related information
- name: Transaction Information
  description: Methods for retrieving transaction data and receipts
- name: Transactions
  description: Methods for creating and sending transactions
- name: Filters
  description: Methods for creating and managing event filters
- name: Web3
  description: Basic web3 utility methods
x-readme:
  explorer-enabled: true
  proxy-enabled: true
