openapi: 3.0.0
info:
  title: Ethereum JSON-RPC API
  version: 2.0.0
  description: |
    Standard Ethereum JSON-RPC API methods for interacting with the Ethereum blockchain.
    These methods allow developers to query blockchain data, send transactions, and interact with smart contracts.
servers:
  - url: https://rpc.stavanger.gateway.fm
paths:
  /eth_blockNumber:
    post:
      tags:
        - Chain State
      summary: eth_blockNumber
      operationId: eth_blockNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_blockNumber"
                params:
                  type: array
                  items: {}
                  example: []
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns the number of the most recent block
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: string
                    example: "0x2787ca"
  /eth_call:
    post:
      tags:
        - State Queries
      summary: eth_call
      operationId: eth_call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_call"
                params:
                  type: array
                  items: {}
                  example:
                    [
                      {
                        "from": "0x0000000000000000000000000000000000000000",
                        "to": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                        "data": "0x70a08231000000000000000000000000a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                      },
                      "latest",
                    ]
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Executes a new message call immediately without creating a transaction on the blockchain
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: string
                    example: "0x0"
  /eth_chainId:
    post:
      tags:
        - Chain State
      summary: eth_chainId
      operationId: eth_chainId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_chainId"
                params:
                  type: array
                  items: {}
                  example: []
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns the chain ID used for signing replay-protected transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: string
                    example: "0x303f84e"
  /eth_estimateGas:
    post:
      tags:
        - Transactions
      summary: eth_estimateGas
      operationId: eth_estimateGas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_estimateGas"
                params:
                  type: array
                  items: {}
                  example:
                    [
                      {
                        "from": "0x0000000000000000000000000000000000000000",
                        "to": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                        "data": "0x70a08231000000000000000000000000a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                      },
                    ]
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns an estimation of gas needed for a given transaction
          content:
            application/json:
              schema:
                type: object
  /eth_feeHistory:
    post:
      tags:
        - Transactions
      summary: eth_feeHistory
      operationId: eth_feeHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_feeHistory"
                params:
                  type: array
                  items: {}
                  example: ["0x4", "latest", [25, 75]]
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns a collection of historical gas information
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: object
                    properties:
                      oldestBlock:
                        type: string
                        example: "0x2784af"
                      reward:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example: [["0x0","0x0"],["0x0","0x0"],["0x0","0x0"],["0x0","0x0"]]
                      baseFeePerGas:
                        type: array
                        items:
                          type: string
                        example: ["0x0","0x0","0x0","0x0","0x0"]
                      gasUsedRatio:
                        type: array
                        items:
                          type: number
                        example: [0,0,0,0]
  /eth_gasPrice:
    post:
      tags:
        - Transactions
      summary: eth_gasPrice
      operationId: eth_gasPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_gasPrice"
                params:
                  type: array
                  items: {}
                  example: []
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns the current gas price in wei
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: string
                    example: "0xf87a13b00"
  /eth_getBalance:
    post:
      tags:
        - State Queries
      summary: eth_getBalance
      operationId: eth_getBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_getBalance"
                params:
                  type: array
                  items: {}
                  example: ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"]
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns the balance of the account at the specified address
          content:
            application/json:
              schema:
                type: object
  /eth_getBlockByHash:
    post:
      tags:
        - Block Information
      summary: eth_getBlockByHash
      operationId: eth_getBlockByHash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_getBlockByHash"
                params:
                  type: array
                  items: {}
                  example:
                    ["0x21f312398a349b478a2360ecd0d53b5348a44f6fe45d95d7f65f02b182704d9f", false]
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns information about a block by its hash
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: object
                    properties:
                      difficulty:
                        type: string
                        example: "0x0"
                      extraData:
                        type: string
                        example: "0x"
                      gasLimit:
                        type: string
                        example: "0x4000000000000"
                      gasUsed:
                        type: string
                        example: "0x0"
                      hash:
                        type: string
                        example: "0x21f312398a349b478a2360ecd0d53b5348a44f6fe45d95d7f65f02b182704d9f"
                      logsBloom:
                        type: string
                        example: "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                      miner:
                        type: string
                        example: "0x12046f2df70c8c6bda6d15ce1a902a4bc1199626"
                      mixHash:
                        type: string
                        example: "0x0000000000000000000000000000000000000000000000000000000000000000"
                      nonce:
                        type: string
                        example: "0x0000000000000000"
                      number:
                        type: string
                        example: "0x2787e3"
                      parentHash:
                        type: string
                        example: "0x2da5ea46933ee971be8ca2f40406de01760cbd2586560c6b6f5e321a3c71050f"
                      receiptsRoot:
                        type: string
                        example: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                      sha3Uncles:
                        type: string
                        example: "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347"
                      size:
                        type: string
                        example: "0x203"
                      stateRoot:
                        type: string
                        example: "0xeae0b42a15f7a6e05ce56da2b209eb150878dc721048a003c813f652232e5b7c"
                      timestamp:
                        type: string
                        example: "0x6819d539"
                      totalDifficulty:
                        type: string
                        example: "0x0"
                      transactions:
                        type: array
                        items: {}
                        example: []
                      transactionsRoot:
                        type: string
                        example: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                      uncles:
                        type: array
                        items: {}
                        example: []
  /eth_getBlockByNumber:
    post:
      tags:
        - Block Information
      summary: eth_getBlockByNumber
      operationId: eth_getBlockByNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: "2.0"
                method:
                  type: string
                  example: "eth_getBlockByNumber"
                params:
                  type: array
                  items: {}
                  example: ["latest", false]
                id:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Returns information about a block by its number
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  id:
                    type: integer
                    example: 1
                  result:
                    type: object
                    properties:
                      difficulty:
                        type: string
                        example: "0x0"
                      extraData:
                        type: string
                        example: "0x"
                      gasLimit:
                        type: string
                        example: "0x4000000000000"
                      gasUsed:
                        type: string
                        example: "0x0"
                      hash:
                        type: string
                        example: "0x21f312398a349b478a2360ecd0d53b5348a44f6fe45d95d7f65f02b182704d9f"
                      logsBloom:
                        type: string
                        example: "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                      miner:
                        type: string
                        example: "0x12046f2df70c8c6bda6d15ce1a902a4bc1199626"
                      mixHash:
                        type: string
                        example: "0x0000000000000000000000000000000000000000000000000000000000000000"
                      nonce:
                        type: string
                        example: "0x0000000000000000"
                      number:
                        type: string
                        example: "0x2787e3"
                      parentHash:
                        type: string
                        example: "0x2da5ea46933ee971be8ca2f40406de01760cbd2586560c6b6f5e321a3c71050f"
                      receiptsRoot:
                        type: string
                        example: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                      sha3Uncles:
                        type: string
                        example: "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347"
                      size:
                        type: string
                        example: "0x203"
                      stateRoot:
                        type: string
                        example: "0xeae0b42a15f7a6e05ce56da2b209eb150878dc721048a003c813f652232e5b7c"
                      timestamp:
                        type: string
                        example: "0x6819d539"
                      totalDifficulty:
                        type: string
                        example: "0x0"
                      transactions:
                        type: array
                        items: {}
                        example: []
                      transactionsRoot:
                        type: string
                        example: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                      uncles:
                        type: array
                        items: {}
                        example: []