openapi: 3.0.0
info:
  title: Polygon zkEVM Node API
  version: 2.0.0
  description: |
    Polygon zkEVM-specific JSON-RPC API methods for interacting with a zkEVM node.
    These methods provide access to zkEVM batch and virtualization information, allowing developers
    to track the status of transactions in the zkEVM consensus process.
servers:
  - url: https://rpc.stavanger.gateway.fm
paths:
  /zkevm_batchNumber:
    post:
      tags:
        - Batch Information
      summary: zkevm_batchNumber
      operationId: zkevm_batchNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_batchNumber
                params:
                  type: array
                  default: []
      responses:
        "200":
          description: Returns the current batch number.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_batchNumberByBlockNumber:
    post:
      tags:
        - Batch Information
      summary: zkevm_batchNumberByBlockNumber
      operationId: zkevm_batchNumberByBlockNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_batchNumberByBlockNumber
                params:
                  type: array
                  items:
                    type: string
                  default:
                    - "0xD65B"
      responses:
        "200":
          description: Returns the batch number associated with the given block number.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_consolidatedBlockNumber:
    post:
      tags:
        - Verification Status
      summary: zkevm_consolidatedBlockNumber
      operationId: zkevm_consolidatedBlockNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_consolidatedBlockNumber
                params:
                  type: array
                  default: []
      responses:
        "200":
          description: The latest consolidated block number.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_getBatchByNumber:
    post:
      tags:
        - Batch Information
      summary: zkevm_getBatchByNumber
      operationId: zkevm_getBatchByNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_getBatchByNumber
                params:
                  type: array
                  items:
                    type: string
                  default:
                    - "0x1FC0"
      responses:
        "200":
          description: Returns information about a specific batch of transactions based on the batch number.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_isBlockConsolidated:
    post:
      tags:
        - Verification Status
      summary: zkevm_isBlockConsolidated
      operationId: zkevm_isBlockConsolidated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_isBlockConsolidated
                params:
                  type: array
                  items:
                    type: string
                  default:
                    - "0xd29e"
      responses:
        "200":
          description: Checks if the given block is consolidated, which means it has been finalized on Ethereum L1.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_isBlockVirtualized:
    post:
      tags:
        - Verification Status
      summary: zkevm_isBlockVirtualized
      operationId: zkevm_isBlockVirtualized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_isBlockVirtualized
                params:
                  type: array
                  items:
                    type: string
                  default:
                    - "130000"
      responses:
        "200":
          description: Checks if the given block is virtualized, which means it has been processed in the zkEVM virtual machine.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_verifiedBatchNumber:
    post:
      tags:
        - Batch Information
      summary: zkevm_verifiedBatchNumber
      operationId: zkevm_verifiedBatchNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_verifiedBatchNumber
                params:
                  type: array
                  default: []
      responses:
        "200":
          description: Returns the current verified batch number, which has completed zero-knowledge proof verification.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
  /zkevm_virtualBatchNumber:
    post:
      tags:
        - Batch Information
      summary: zkevm_virtualBatchNumber
      operationId: zkevm_virtualBatchNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  default: 1
                jsonrpc:
                  type: string
                  default: "2.0"
                method:
                  type: string
                  default: zkevm_virtualBatchNumber
                params:
                  type: array
                  default: []
      responses:
        "200":
          description: Returns the current virtual batch number, which has been virtualized in the zkEVM but not yet verified.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id:
                    type: integer
                  result:
                    type: object
tags:
  - name: Batch Information
    description: Methods related to zkEVM batch numbers and batch data retrieval
  - name: Verification Status
    description: Methods for checking the verification and consolidation status of blocks in the zkEVM
x-readme:
  explorer-enabled: true
  proxy-enabled: true
